<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentservice.mapper.GradeMapper">
    <resultMap id="gradeResultWithStudent" type="Grade">
        <id javaType="int" property="id" column="g_id" />
        <result property="language" column="g_language" javaType="double" />
        <result property="math" column="g_math"/>
        <result property="english" column="g_english"/>
        <association property="metaData" javaType="MetaData">
            <result property="status" column="g_status"/>
            <result property="creator" column="g_creator"/>
            <result property="creationTime" column="g_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="g_last_editor"/>
            <result property="lastEdit" column="g_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
        <association property="student" javaType="Student">
            <id javaType="int" property="id" column="s_id" />
            <result property="serial" column="s_serial" javaType="string"/>
            <result property="name" column="s_name" javaType="string"/>
            <result property="sex" column="s_sex" javaType="Sex"/>
            <result property="dOB" column="s_dob" javaType="java.time.LocalDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
            <result property="address" column="s_address" javaType="string"/>
            <result property="phone" column="s_phone" javaType="string"/>
            <association property="metaData" javaType="MetaData">
                <result property="status" column="s_status"/>
                <result property="creator" column="s_creator"/>
                <result property="creationTime" column="s_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
                <result property="lastEditor" column="s_last_editor"/>
                <result property="lastEdit" column="s_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            </association>
            <association property="classInfo" javaType="ClassInfo">
                <id javaType="int" property="id" column="c_id" />
                <result property="serial" column="c_serial" javaType="string"/>
                <result property="name" column="c_name" javaType="string"/>
                <association property="metaData" javaType="MetaData">
                    <result property="status" column="c_status"/>
                    <result property="creator" column="c_creator"/>
                    <result property="creationTime" column="c_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
                    <result property="lastEditor" column="c_last_editor"/>
                    <result property="lastEdit" column="c_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
                </association>
            </association>
        </association>
    </resultMap>

    <resultMap id="gradeResult" type="Grade">
        <id javaType="int" property="id" column="g_id" />
        <result property="language" column="g_language" javaType="double" />
        <result property="math" column="g_math"/>
        <result property="english" column="g_english"/>
        <association property="metaData" javaType="MetaData">
            <result property="status" column="g_status"/>
            <result property="creator" column="g_creator"/>
            <result property="creationTime" column="g_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="g_last_editor"/>
            <result property="lastEdit" column="g_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
    </resultMap>


    <select id="findAll" resultMap="gradeResultWithStudent">
        SELECT *
        FROM grades g left outer join
             (SELECT s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_status, s_creator, s_creation_time,
                     s_last_editor, s_last_time, c.c_id as c_id, c_serial, c_name, c_status, c_creator, c_creation_time,
                     c_last_editor, c_last_time
              FROM students s left outer join classes c on s.c_id = c.c_id) as sc
             on g.s_id = sc.s_id;
    </select>

    <select id="findAllByClassId" parameterType="int" resultMap="gradeResult">
        SELECT g_id, g_language, g_math, g_english, g_status, g_creator, g_creation_time, g_last_editor, g_last_time
        FROM grades g
        WHERE s_id in (SELECT s_id FROM students WHERE c_id = #{classId});
    </select>

    <select id="findAllByClassInfo" parameterType="ClassInfo" resultMap="gradeResultWithStudent">
        SELECT *
        FROM grades g left outer join
             (SELECT s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_status, s_creator, s_creation_time,
                     s_last_editor, s_last_time, c.c_id as c_id, c_serial, c_name, c_status, c_creator, c_creation_time,
                     c_last_editor, c_last_time
              FROM students s left outer join classes c on s.c_id = c.c_id) as sc
             on g.s_id = sc.s_id
        WHERE
        <trim suffixOverrides="AND">
            <if test="name!=null">
                c_name = #{name} AND
            </if>
            <if test="id!=null">
                c_id = #{id} AND
            </if>
        </trim>;
    </select>

    <select id="findByStudentId" parameterType="int" resultMap="gradeResult">
       SELECT g_id, g_language, g_math, g_english, g_status, g_creator, g_creation_time, g_last_editor, g_last_time FROM grades WHERE s_id = #{id};
    </select>

    <select id="findByStudentSerialAndName" parameterType="Student" resultMap="gradeResultWithStudent">
        SELECT g.s_id, AVG(g_math) as g_math, AVG(g_english) as g_english, AVG(g_language) as g_language, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_creator, s_creation_time, s_last_editor, s_last_time, c_id, c_serial, c_name, c_status, c_creator, c_creation_time, c_last_editor, c_last_time
        FROM grades g left outer join
        (SELECT s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_status, s_creator, s_creation_time, s_last_editor, s_last_time, c.c_id, c_serial, c_name, c_status, c_creator, c_creation_time, c_last_editor, c_last_time
        FROM students s left outer join classes c on s.c_id = c.c_id) as sc
        on g.s_id = sc.s_id
        WHERE
        <trim suffixOverrides="AND">
            <if test="name!=null">
                s_name = #{name} AND
            </if>
            <if test="id!=null">
                sc.s_id = #{id} AND
            </if>
        </trim>
        group by s_id;
    </select>

</mapper>