<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentservice.mapper.StudentMapper">
    <resultMap id="studentWithClass" type="Student">
        <id javaType="int" column="id" property="id" />
        <result property="serial" column="serial" javaType="string"/>
        <result property="name" column="name" javaType="string"/>
        <result property="sex" column="sex" javaType="Sex"/>
        <result property="status" column="status" javaType="StudentStatus"/>
        <result property="dOB" column="dob" javaType="java.time.LocalDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="address" column="address" javaType="string"/>
        <result property="phone" column="phone" javaType="string"/>
        <association property="metaData" javaType="MetaData">
            <result property="creator" column="creator"/>
            <result property="creationTime" column="creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="last_editor"/>
            <result property="lastEdit" column="last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
        <association property="classInfo" javaType="ClassInfo">
            <id javaType="int" column="id" property="id" />
            <result property="serial" column="serial" javaType="string"/>
            <result property="name" column="name" javaType="string"/>
            <result property="status" column="status" javaType="ClassStatus"/>
            <association property="metaData" javaType="MetaData">
                <result property="creator" column="creator"/>
                <result property="creationTime" column="creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
                <result property="lastEditor" column="last_editor"/>
                <result property="lastEdit" column="last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="student" type="Student">
        <id javaType="int" column="id" property="id" />
        <result property="serial" column="serial" javaType="string"/>
        <result property="name" column="name" javaType="string"/>
        <result property="sex" column="sex" javaType="Sex"/>
        <result property="status" column="status" javaType="StudentStatus"/>
        <result property="dOB" column="dob" javaType="java.time.LocalDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="address" column="address" javaType="string"/>
        <result property="phone" column="phone" javaType="string"/>
        <association property="metaData" javaType="MetaData">
            <result property="creator" column="creator"/>
            <result property="creationTime" column="creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="last_editor"/>
            <result property="lastEdit" column="last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
    </resultMap>

    <select id="findAllByClassId" resultMap="student">
        SELECT id, name from students WHERE class_id=#{id};
    </select>

    <select id="findByStudent" resultMap="studentWithClass" parameterType="Student">
        SELECT id, serial, name, sex, dob, address, phone, creator, creation_time, last_editor, last_time
        FROM students left outer join classes c on students.class_id = c.id
        WHERE
        <trim suffix="AND" suffixOverrides="">
            <if test="serial!=null">
                serial=#{serial} AND
            </if>
            <if test="name!=null">
                name=#{name} AND
            </if>
            <if test="id!=null">
                id=#{id} AND
            </if>
        </trim>
    </select>

</mapper>