<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentservice.mapper.StudentMapper">
    <resultMap id="studentWithClass" type="Student">
        <id javaType="int" property="id" column="s_id" />
        <result property="serial" column="s_serial" javaType="string"/>
        <result property="name" column="s_name" javaType="string"/>
        <result property="sex" column="s_sex" javaType="Sex"/>
        <result property="dOB" column="s_dob" javaType="java.time.LocalDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="address" column="s_address" javaType="string"/>
        <result property="phone" column="s_phone" javaType="string"/>
        <association property="metaData" javaType="MetaData">
            <result property="status" column="s_status"/>
            <result property="creator" column="s_creator"/>
            <result property="creationTime" column="s_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="s_last_editor"/>
            <result property="lastEdit" column="s_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
        <association property="classInfo" javaType="ClassInfo">
            <id javaType="int" property="id" column="c_id"/>
            <result property="serial" column="c_serial" javaType="string"/>
            <result property="name" column="c_name" javaType="string"/>
            <association property="metaData" javaType="MetaData">
                <result property="status" column="c_status"/>
                <result property="creator" column="c_creator"/>
                <result property="creationTime" column="c_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
                <result property="lastEditor" column="c_last_editor"/>
                <result property="lastEdit" column="c_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="student" type="Student">
        <id javaType="int" property="id" column="s_id" />
        <result property="serial" column="s_serial" javaType="string"/>
        <result property="name" column="s_name" javaType="string"/>
        <result property="sex" column="s_sex" javaType="Sex"/>
        <result property="dOB" column="s_dob" javaType="java.time.LocalDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <result property="address" column="s_address" javaType="string"/>
        <result property="phone" column="s_phone" javaType="string"/>
        <association property="metaData" javaType="MetaData">
            <result property="status" column="s_status"/>
            <result property="creator" column="s_creator"/>
            <result property="creationTime" column="s_creation_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
            <result property="lastEditor" column="s_last_editor"/>
            <result property="lastEdit" column="s_last_time" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        </association>
    </resultMap>

    <select id="findAllByClassId" resultMap="student">
        SELECT id, name from students WHERE class_id=#{id};
    </select>

    <select id="findById" resultMap="student" parameterType="int">
        SELECT s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_status, s_creator, s_creation_time,
               s_last_editor, s_last_time
        FROM students
        WHERE s_id = #{id}
    </select>

    <insert id="add" parameterType="Student">
        INSERT INTO students (s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, c_id, s_status, s_creator, s_creation_time, s_last_editor, s_last_time)
        VALUES (#{id}, #{serial}, #{name}, #{sex}, #{dOB}, #{address}, #{phone}, #{classInfo.id}, #{metaData.status}, #{metaData.creator}, #{metaData.creationTime}, #{metaData.lastEditor}, #{metaData.lastEdit})
    </insert>

    <select id="findByStudent" resultMap="studentWithClass" parameterType="Student">
        SELECT s_id, s_serial, s_name, s_sex, s_dob, s_address, s_phone, s_status, s_creator, s_creation_time, s_last_editor, s_last_time, c.c_id, c_serial, c_name, c_status, c_creator, c_creation_time, c_last_editor, c_last_time
        FROM students s left outer join classes c on s.c_id = c.c_id
        WHERE
        <trim suffix="" suffixOverrides="AND">
            <if test="serial!=null">
                s_serial=#{serial} AND
            </if>
            <if test="name!=null">
                s_name=#{name} AND
            </if>
            <if test="id!=null">
                s_id=#{id} AND
            </if>
        </trim>
    </select>

</mapper>