<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
  <table border="1">
    <tr>
      <td>编号</td><td th:text="${studentInfo.getSerial()}"></td>
    </tr>
    <tr>
      <td>姓名</td><td th:text="${studentInfo.getName()}"></td>
    </tr>
    <tr>
      <td><a th:href="@{/class(className=${studentInfo.className})}">班级</a></td><td th:text="${studentInfo.getClassName()}"></td>
    </tr>
    <tr>
      <td>住址</td><td th:text="${studentInfo.getAddress()}"></td>
    </tr>
    <tr>
      <td>年龄</td><td th:text="${studentInfo.getAge()}"></td>

    </tr>
  </table>
  <table border="1">
    <tr>
      <td>语文</td>
      <td>数学</td>
      <td>英语</td>
      <td>总成绩</td>
      <td>平均成绩</td>
    </tr>
    <tr th:each="score : *{studentInfo.getScores()}">
      <td th:text="${score.getLanguage()}"></td>
      <td th:text="${score.getMath()}"></td>
      <td th:text="${score.getEnglish()}"></td>
      <td th:text="${score.getTotal()}"></td>
      <td th:text="${score.getAverage()}"></td>
    </tr>
  </table>
</body>
</html>