<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{studentGradeDTO.studentName}'s grades'"></title>
</head>
<body>
  <table border="1">
      <tr>
          名字： <td th:text="${studentGradeDTO.studentName}"></td>
      </tr>
      <tr>
          班级： <td th:text="${studentGradeDTO.className}"></td>
      </tr>
      <tr th:each="grade : *studentGradeDTO.gradeDTOs">
          <td th:text="${grade.classType}"></td>
          <td th:text="${grade.grade}"></td>
      </tr>
  </table>
</body>
</html>